:root {
  --popup-close-color: #fff;
  --popup-close-size: 32px;
  --popup-bg: #ddd;
  --popup-container-width: 320px;
}

.popup_hide {
  display: none !important;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.popup_show {
  overflow: hidden !important;
}

.popup {
  padding: 3em;
}

.popup_fixed {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup,
.popup_full,
.popup_fixed {
  z-index: 168;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  box-sizing: border-box;
}

.popup_close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 20px 0 0;
  width: var(--popup-close-size);
  height: var(--popup-close-size);
  cursor: pointer;
}

.popup_close:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--popup-close-color);
  transform: rotate(45deg) translate(10px, 10px);
}

.popup_close:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: var(--popup-close-color);
  transform: rotate(-45deg) translate(-10px, 10px);
}

.popup_container {
  width: 100%;
  height: 100%;
  background: var(--popup-bg);
}

.popup_fixed .popup_container {
  width: var(--popup-container-width);
  min-height: 3rem;
  background: var(--popup-bg);
}